POSTGRES_USER=airflow_user
POSTGRES_PASSWORD=airflow_password
POSTGRES_DB=transparencia_name

AIRFLOW_FERNET_KEY={python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"}

AIRFLOW_UID=50000

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_SLEEP_SECONDS=2