# =========================
# Estrutura de Pastas (Keep Empty)
# =========================
# Mantém as pastas no Git, mas ignora todo o conteúdo interno
# Importante: Crie um arquivo .gitkeep dentro de cada uma delas
data/*
!data/.gitkeep

logs/*
!logs/.gitkeep

# =========================
# Python & Ambiente Virtual
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.swp
*.tmp
*.log

# Ambientes virtuais
venv/
.env/
env/
ENV/
.venv/
**/venv/
**/.venv/
**/env/
**/ENV/

# Cache Python em qualquer pasta
**/__pycache__/
*.pyc

# Configurações de ambiente (Sensitive Data)
.env
.env.*
!.env.example

# =========================
# Airflow
# =========================
airflow.db
*.pid
airflow-webserver.err
airflow-webserver.out
airflow-webserver.log
airflow-scheduler.err
airflow-scheduler.out
airflow-scheduler.log

# =========================
# Dados (ETL)
# =========================
*.csv
*.json
*.parquet
*.sql
*.gz
*.zip

# =========================
# Docker
# =========================
docker-compose.override.yml
.dockerignore

# =========================
# IDE / Sistema
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Scripts e Backups
# =========================
*.bak
*.old
*.tmp
temp/