=========================
Python
=========================

pycache/
*.pyc
*.pyo
*.pyd
*.swp
*.tmp
*.log

Virtualenv

venv/
.env/
.env.*

=========================
Airflow
=========================

logs/
airflow.db
*.pid

=========================
Dados (ETL)
=========================

data/
*.csv
*.json
*.parquet

=========================
Docker
=========================

*.env
docker-compose.override.yml

=========================
IDE / Sistema
=========================

.vscode/
.idea/
.DS_Store
Thumbs.db

=========================
Scripts temporários
=========================

*.bak
*.old